body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h1{
    font-size: 20px;
}


h3{
    font-size: 16px;
    color: blue;
}


h2{
    font-size: 18px;
}

p{
    font-size: 14px;   
    font-weight: 700;
    margin: 10px;
}

.summary{
    color: yellowgreen;
    font-weight: 800;
}

#pname{
    color: indianred;
    font-weight: 600;
    font-size: 18px;
}
